@font-face {
    font-family: "Nike Futura ND";
    src: url("../fonts/NikeFuturaND/NikeFuturaND.ttf") format("truetype");
  }
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-ExtLtIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-ExtBdIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-RegIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaNowText-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica ;
  }
  h1{
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 30px;
  }
main{
    width: 92%;
    margin: 0 auto;
}

    /* Basic Card CSS starts */
    .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }
        .card-image{
            width: 100%;
        }
            .card-image img{
                width: 100%;
                object-fit: cover;
            }
        .about-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            text-align: center;
        }
            .item-name{
                font-weight: 500;
                font-size: 1.2rem;
                padding: 10px 0;
            }
            .about-card p{
                font-family: "Nike Futura ND";
                font-weight: 900;
                font-size: 5rem;
                line-height: 0.9;
            }
            .item-about{
                padding: 10px;
                font-size: 1rem;
                font-weight: 300;
            }
        .card-buttons button{
            border: none;
            background-color: black;
            border-radius: 20px;
            padding: 10px 20px;
            color: white;
            cursor: pointer;
        }
        .card-buttons button:hover{
            background-color: #767676;
        }
        /* Basic Card CSS ends */

    /* Featured CSS */
    .featured-container{
        padding: 30px 0;
    }

        .featured-content{
            display: flex;
            gap: 20px;
        }
            .featured-items{
               max-width: 400px;
            }
                .featured-items img{
                    width: 100%;
                    object-fit: contain;
                }
            .featured-items p{
                font-size: 1.2rem;
                margin-top: 40px;
            }

  
    .trending-container{
        margin: 20px 0;
    }
    .trending-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
        .trending-items{
            min-height: 900px;
            color: white;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
            .background-image{
                height: 100%;
                position: absolute;
                top: 0;
                z-index: -1;        
            }
                .background-image img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            .trending-about{
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }    
                .trending-about h3{
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                .trending-items button{
                    width: 100px;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 20px;
                    background-color: white;
                    color: black;
                    font-size: 1rem;
                    cursor: pointer;
                } 
                .trending-items button:hover{
                    background-color: #767676;
                } 

    /* Iconic Shoes CSS */
    .iconic-shoes-container{
        margin: 50px 0;
    }
            
    .iconic-content{
        position: relative;
        overflow: hidden;
        height: 350px;
    }
        .iconic-items{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 350px;
            gap: 10px;
            z-index: -1;
            transition: all 0.5s smooth;
        }
            .iconic-items h3{
                padding: 20px 0;
                font-size: 0.9rem;
                font-weight: 300;
                color: #767676;
                display: none;
            }
            .iconic-items-image{
                position: relative;
                height: 300px;
                width: 300px;
                overflow: hidden;
            }
            .iconic-items-image img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        .iconic-items.initial,
        .iconic-items.active{
            left: 50%;
            opacity: 1;
            z-index: 2;
        }
        .iconic-items.initial h3,
        .iconic-items.active h3{
            display: block;
            font-weight: 500;
            font-size: 1.2rem;
        }
  
    .left,
    .right{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
    }
    .left{
        right: 0;
    }
    .right{
        left: 0;
    }
    .count-show{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        background-color: rgb(165, 164, 164);
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        font-size: 1.2rem;
    }

    .Shop-by-sports{
        margin: 20px 0;
    }
        .container{
            display: flex;
            gap: 10px;
            overflow-x: auto;
            padding: 20px 0;
            -webkit-overflow-scrolling: touch;
             scroll-snap-type: x mandatory;
            scrollbar-width: thin;
        }
        .container::-webkit-scrollbar {
            width: 20px;            
        }    
            .items{
                min-width: 400px;
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
                .items-image{
                    max-width: 400px;
                }
                    .items-image img{
                        width: 100%;
                        object-fit: cover;
                    }
                .about-items h3{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .link a{
                    color: black;
                    font-size: 1.1rem;
                }
                .link a:hover{
                    color: #767676;
                }
    .member-container{
        margin: 20px 0;
    }
    .member-content{
        display: flex;
        gap: 20px;
        overflow-x: auto;
        padding-bottom: 20px;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
    }
    .container::-webkit-scrollbar {
        width: 20px;            
    }
        .member-items{
            min-width: 300px;
            min-height: 400px;
            color: white;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
            .background-image{
                height: 100%;
                position: absolute;
                top: 0;
                z-index: -1;        
            }
                .background-image img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            .member-about{
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }    
                .member-about h3{

                    font-weight: 700;
                }
                .member-about p{
                    font-size: 1.5rem;
                }   

                .member-items button{
                    padding: 10px 20px;
                    border: none;
                    border-radius: 20px;
                    background-color: white;
                    color: black;
                    font-size: 1rem;
                    cursor: pointer;
                } 
                .member-items button:hover{
                    background-color: #767676;
                }
